<style>
    .cen table {
        text-align: center;
    }

    .cen table th {
        text-align: center;
    }
</style>
<section class="content-header">
    <h1>BD Sale</h1>
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-list-alt"></i> Analysis
        </li>
        <li class="active">BD Sales</li>
    </ol>
</section>
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box-solid">
                <div class="box box-success">
                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div class="form-group col-xs-12">
                                        <label class="control-label col-xs-4 col-sm-1">Date Range</label>
                                        <div class="col-sm-11">
                                            <div class="form-control-static form-inline">
                                                <div style="display: inline-block">
                                                    <input class="form-control" id="date-from-input"
                                                           ng-model="params.begin"
                                                           uib-datepicker-popup size="10" placeholder="From"
                                                           is-open="dateBegin.open" ng-click="dateBegin.open=true"
                                                           datepicker-options="{maxDate:params.end||today}">
                                                </div>
                                                ~
                                                <div style="display: inline-block">
                                                    <input class="form-control" id="date-to-input" ng-model="params.end"
                                                           uib-datepicker-popup size="10" placeholder="To"
                                                           is-open="dateTo.open" ng-click="dateTo.open=true"
                                                           datepicker-options="{minDate:params.begin,maxDate:today}">
                                                </div>

                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="chooseToday()">Today</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="chooseYesterday()">Yesterday</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="chooseLast7Days()">Last 7 Days</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="thisMonth()">This Month</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="lastMonth()">Last Month</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a role="button" class="btn btn-default btn-sm"
                                                       ng-click="thisYear()">This Year</a>
                                                </div>
                                                <div uib-dropdown ng-if="orgs" class="btn-group">

                                                    <button id="single-button" type="button" class="btn btn-default"
                                                            uib-dropdown-toggle ng-disabled="disabled">
                                                        {{showOrg}} <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu
                                                        aria-labelledby="single-button">
                                                        <li><a ng-click="chooseOrg('all')">All</a></li>
                                                        <li ng-repeat="org in orgs"><a ng-click="chooseOrg(org)">{{org.name}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn btn-success" type="button" ng-click="loadSale()">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-group col-xs-12">
                                        <label class="control-label col-xs-4 col-sm-1">Export Range</label>
                                    <div class="col-sm-11">
                                    <div style="display: inline-block">
                                        <input class="form-control" id="month-from-input"
                                               ng-model="params.begin_month"
                                               uib-datepicker-popup="yyyy-MM" size="10" placeholder="From"
                                               is-open="monthBegin.open" ng-click="monthBegin.open=true"
                                               datepicker-options="{'datepickerMode':'month','minMode':'month'}">
                                    </div>
                                    ~
                                    <div style="display: inline-block">
                                        <input class="form-control" id="month-to-input" ng-model="params.end_month"
                                               uib-datepicker-popup="yyyy-MM" size="10" placeholder="To"
                                               is-open="monthEnd.open" ng-click="monthEnd.open=true"
                                               datepicker-options="{'datepickerMode':'month','minMode':'month'}">
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-success" role="button" target="_blank"
                                           ng-href="{{exportMonthSale()}}">Export</a>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">BD Sales</h3>
                    </div>
                    <div class="box-body">
                        <div class="row cen">
                            <div class="col-sm-7 col-xs-12">
                                <p class="text-center">BD销售数据统计</p>
                                <div class="chart" style="height: 600px" id="bdSaleChart" echarts="bdSaleChart"
                                     chart-setter="bdEchart($chart)"
                                     ng-class="{nodata:bdSaleChart.nodata}"></div>
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Ranking</th>
                                        <th>BD</th>
                                        <th>AUD Amount</th>
                                        <th>Refund Fee</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sale in sales">
                                        <td style="text-align: center;font-style: italic;font-size: larger"
                                            ng-bind="$index+1+'.'"></td>
                                        <td ng-bind="sale.bd_name" ng-click="loadPartnersChart(sale.bd_id,sale.bd_name)"></td>
                                        <td ng-bind="sale.total"></td>
                                        <td ng-bind="sale.refund_fee"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row cen" ng-if="partners.length>0">
                            <hr>
                            <p style="text-align: center;">{{chooseBdName}} 商户销售排行</p>
                            <!--<div class="col-sm-6 col-xs-12" style="padding-right: 0">-->
                            <!--&lt;!&ndash;<p class="text-center">{{}}商户销售统计</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="chart" style="height: 400px" echarts="bdSalePartnersChart"&ndash;&gt;-->
                            <!--&lt;!&ndash;ng-class="{nodata:bdSalePartnersChart.nodata}"></div>&ndash;&gt;-->
                            <!--<table class="table table-bordered table-hover table-striped">-->
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th>Ranking</th>-->
                            <!--<th>Partner</th>-->
                            <!--<th>AUD Amount</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="sale in partnerSales1">-->
                            <!--<td style="text-align: center;font-style: italic;font-size: larger" ng-bind="$index+1+'.'"></td>-->
                            <!--<td>-->
                            <!--<a class="text-primary" role="button" title="Detail"-->
                            <!--ui-sref="partners.detail({clientMoniker:sale.client_moniker})">-->
                            <!--{{sale.short_name}}-->
                            <!--</a>-->
                            <!--</td>-->
                            <!--<td ng-bind="sale.total"></td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--</table>-->
                            <!--</div>-->
                            <!--<div class="col-sm-6 col-xs-12" style="padding-left: 0">-->
                            <!--&lt;!&ndash;<p class="text-center">{{}}商户销售统计</p>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="chart" style="height: 400px" echarts="bdSalePartnersChart"&ndash;&gt;-->
                            <!--&lt;!&ndash;ng-class="{nodata:bdSalePartnersChart.nodata}"></div>&ndash;&gt;-->
                            <!--<table class="table table-bordered table-hover table-striped">-->
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th>Ranking</th>-->
                            <!--<th>Partner</th>-->
                            <!--<th>AUD Amount</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="sale in partnerSales2">-->
                            <!--<td style="text-align: center;font-style: italic;font-size: larger" ng-bind="$index+1+10+'.'"></td>-->
                            <!--<td>-->
                            <!--<a class="text-primary" role="button" title="Detail"-->
                            <!--ui-sref="partners.detail({clientMoniker:sale.client_moniker})">-->
                            <!--{{sale.short_name}}-->
                            <!--</a>-->
                            <!--</td>-->
                            <!--<td ng-bind="sale.total"></td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--</table>-->
                            <!--</div>-->
                            <div class="col-sm-12 col-xs-12">
                                <!--<p class="text-center">{{}}商户销售统计</p>-->
                                <!--<div class="chart" style="height: 400px" echarts="bdSalePartnersChart"-->
                                <!--ng-class="{nodata:bdSalePartnersChart.nodata}"></div>-->
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%">Ranking</th>
                                        <th style="width: 30%">Partner</th>
                                        <th>AUD Amount</th>
                                        <th style="width: 10%">Ranking</th>
                                        <th style="width: 30%">Partner</th>
                                        <th> AUD Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="sale in partnerSalesList">
                                        <td style="text-align: center;font-style: italic;font-size: larger"
                                            ng-bind="$index*2+1+'.'"></td>
                                        <td>
                                            <a class="text-primary" role="button" title="Detail"
                                               ui-sref="partners.detail({clientMoniker:sale[0].client_moniker})">
                                                {{sale[0].short_name}}
                                            </a>
                                        </td>
                                        <td ng-bind="sale[0].total"></td>
                                        <td style="text-align: center;font-style: italic;font-size: larger"
                                            ng-bind="$index * 2 + 2 +'.'"></td>
                                        <td>
                                            <a class="text-primary" role="button" title="Detail"
                                               ui-sref="partners.detail({clientMoniker:sale[1].client_moniker})">
                                                {{sale[1].short_name}}
                                            </a>
                                        </td>
                                        <td ng-bind="sale[1].total"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>